[SECRET]

POSTGRES_DB_PASSWORD=<optional-configure-this-to-use-db>
GRABGPT_API_KEY=<configure-this-to-use-grabgpt>
LANGCHAIN_API_KEY=<optional-configure-this-to-use-langchain>
OIDC_CLIENT_SECRET=<do-not-share>
SESSION_SECRET_KEY=<set-this-to-a-random-value>
DOCUMENT_RAG_SECRET_KEY = 
