[SECRET]
# Note: Any $ symbol needs to be escaped with double $ key.

MYSQL_DB_PASSWORD =
GRAB_GITLAB_ACCESS_TOKEN=
OPENAI_API_KEY=<placeholder>
AIHOME_OPENAI_API_KEY=

# Agent secrets
AGENT_SECRET_TI_BOT=
AGENT_KINABALU_SECRET=
TEST_TOKEN_SECRET=
AGENT_FLIP_SECRET=
AGENT_DATANINJA_SECRET=
AGENT_FRIDAYSERVICEQUERY_SECRET=
GRABGPT_AGENT_SECRET=

# Concedo
CONCEDO_PRIVATE_KEY =
CONCEDO_CLIENT_SECRET =

# LangChain
LANGCHAIN_API_KEY =

# Glean
GLEAN_BEARER_TOKEN =

# Confluence
CONFLUENCE_PASSWORD=

# Jira
JIRA_PASSWORD=

# Google Service Account
GOOGLE_PRIVATE_KEY_ID =
GOOGLE_PRIVATE_KEY =

# Presto
PRESTO_PASSWORD =

#kibana
KIBANA_USERNAME=
KIBANA_PASSWORD=

#Fernet (cryptography)
FERNET_KEY =

#For Hades KB Service
HADES_DOCUMENT_RAG_SECRET_KEY =

#For Datadog
DATADOG_API_KEY=
DATADOG_APP_KEY=

# Gitlab
GITLAB_API_TOKEN=

# Sourcegraph
SOURCEGRAPH_HOST=https://sourcegraph.stg.engtools.net
SOURCEGRAPH_ACCESS_TOKEN=${SECRET:SOURCEGRAPH_ACCESS_TOKEN}
SOURCEGRAPH_VERIFY_CERTIFICATE = True
SOURCEGRAPH_QUERY_GITLAB_HOST=gitlab-stg.internal-tools.myteksi.net

# Langmith eval prompts
REQUEST_SYSTEM_PROMPT=
RESPONSE_SYSTEM_PROMPT=

# MCP
MCP_GITLAB_MR_CREATION_TEMPLATE=https://mcp-gitlab-mr-creation-template.stg.mngd.int.engtools.net
